html {
    font-family: sans-serif;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

footer {
    display: block;
}

a {
    background: 0 0;
}

a:active,
a:hover {
    outline: 0;
}

strong {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
    content: '\e079';
}

.glyphicon-chevron-right:before {
    content: '\e080';
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner > .active {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-control {
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    text-align: center;
    opacity: 0.5;
    color: #fff;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);

    filter: alpha(opacity=50);
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5)0, rgba(255, 255, 255, 0.0001)100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5)0, rgba(255, 255, 255, 0.0001)100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5)0, rgba(255, 255, 255, 0.0001)100%);
    background-repeat: repeat-x;

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0001)0, rgba(255, 255, 255, 0.5)100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.0001)0, rgba(255, 255, 255, 0.5)100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001)0, rgba(255, 255, 255, 0.5)100%);
    background-repeat: repeat-x;

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover,
.carousel-control:focus {
    text-decoration: none;
    opacity: 0.9;
    color: #fff;
    outline: 0;

    filter: alpha(opacity=90);
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    z-index: 5;
    top: 50%;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-caption {
    z-index: 10;
    right: 15%;
    bottom: 20px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }
    .carousel-control .glyphicon-chevron-left {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right {
        margin-right: -15px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 15px;
    color: #444;
    background-color: #99d6e2;
    background-image: url(../img/bg.png);
}

img.header {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.body-container {
    position: relative;
    top: -40px;
    max-width: 740px;
    margin: 0 auto;
    padding: 70px 30px 30px;
    background-color: #fff;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

p.lead {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
    max-width: 533px;
    margin: 0 auto;
    text-align: center;
}

#hero-carousel {
    line-height: 1;
    margin: 3rem 0;
    text-align: center;
}

#hero-carousel .carousel-control {
	z-index: 100;
}

#hero-carousel .carousel-caption {
    font-weight: 700;
    line-height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

#hero-carousel .carousel-caption blockquote {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#hero-carousel .carousel-caption footer {
    font-weight: 400;
    font-style: italic;
    margin-top: 0.5rem;
    text-align: right;
}

#hero-carousel .carousel-control {
    color: #fff;
}

h2 {
    text-transform: uppercase;
    color: #f67579;
}

@media screen and (max-width: 920px) {
    .body-container {
        margin: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .body-container {
        margin: 0 20px;
    }
    #hero-carousel .carousel-caption blockquote {
        padding: 0 2rem;
    }
}

.visible-xs {
    display: none;
}

@media screen and (max-width: 350px) {
    .visible-xs {
        display: inline;
    }
    .hidden-xs {
        display: none;
    }
}